* {
    font-family: 'Roboto Condensed', sans-serif;
}


td {
    list-style: none;
    align-content: center;
    text-align: center;
}


.analyze-page {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.orgMovie-container {
    display: flex;
}

.orgMovie-box1 {
    width: 30%;
}

.orgMovie-box2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center 
}

.orgMovie-plot {
    padding: 20px;
    background-color: #191919;
    border-radius: 5px;
    font-size: 20px;
}

.movieMatchResults {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.match-poster {
    width: 100px;
    height: 150px;
}

.movieComparisonTable {
    width: 100%;
}

.table-head {
    height: 50px;
    background-color: #191919;
}

.matchedField {
    background-color: #883C06;
}

.non-matchedField {
    background-color: #191919;
}

.tableKey {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.matchFieldLegend {
    height: 25px;
    width: 25px;
    background-color: #893c00;
    margin-right: 5px;
}

@media only screen and (max-width: 850px) {
    .analyze-page {
        width: 95%;
    }
}



@media only screen and (max-width: 770px) {
    .analyze-page {
        width: 95%;
    }

    .matchTable, .matchThead, .matchTB, .matchTH, .matchTD, .matchTR {
        display: block;
    }

    .matchThead .matchTR { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .matchTD {
        border-bottom: 1px solid white;
        
        position: relative;
        padding-left: 50%; 
    }
    
    .matchTD:before { 
        position: absolute;
        left: 0px;
        width: 47%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .matchTD:nth-of-type(1):before { content: "Title";}
	.matchTD:nth-of-type(2):before { content: "Poster"; background-color: #191919;}
	.matchTD:nth-of-type(3):before { content: "Year"; background-color: #191919;}
	.matchTD:nth-of-type(4):before { content: "Genre"; background-color: #191919;}
	.matchTD:nth-of-type(5):before { content: "Rating"; background-color: #191919;}
	.matchTD:nth-of-type(6):before { content: "Runtime"; background-color: #191919;}
	.matchTD:nth-of-type(7):before { content: "Budget"; background-color: #191919;}
	.matchTD:nth-of-type(8):before { content: "Revenue"; background-color: #191919;}
    .matchTD:nth-of-type(9):before { content: "Production Companies"; background-color: #191919;}
    .matchTD:nth-of-type(10):before { content: "Production Countries"; background-color: #191919;}

    .orgMovie-container {
        display: block;
    }

    .orgMovie-box1 {
        width: 100%;
    }

    .orgMovie-box2 {
        width: 100%;
    }

    .orgMovie-plot {
        font-size: 16px;
    }

    .matchTitle {
        background-color: #086b5f;
    }

    .mobile-grid-line {
        border-right: 3px solid white;
    }

    .org-poster {
        max-width: 300px;
        position: absolute;
        right: 10%;
        top: 10px;
        width: 130px;
        height: 195px;
    }
}

@media only screen and (max-width: 430px) {
    .org-poster {
        position: static;
    }
}