.profile-chart-container {
    display: flex;
    flex-direction: row;
}

.profile-chart {
    flex: 1;
}

.savedMovies {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.movie {
    margin: 1em;
    -ms-flex: 1 1;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    background-color: #91875e;
}

.profile-table-container {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.profile-table {
    flex: 1;
    margin: 1em;
    width: 20%;
}
.buttonHolder {
    display: flex;
}

.movieButton {
    margin: 1em;
    flex: 1;
}
