.profile-container {
    width: 90%;
    margin: auto;
}

.user-info-container {
    background-color: #126b5f;
    color: white;
}


.profile-chart-container {
    display: flex;
    flex-direction: row;
}

.profile-chart {
    flex: 1;
}

.savedMovies {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.movie {
    margin: 0.5em;
    height: 300px;
    -ms-flex: 1 1;
    flex: 1 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 3px solid #126b5f;
    color: white;
}

.movie-link {
    color: white;
}

.movie-link:hover,
.movie-link:focus {
    color: #126b5f;
    background-color: #191919;
}

.profile-table-container {
    display: flex;
    width: 90%;
    /* height: 500px; */
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.blah {
    flex: 1 0 200px;
    max-width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 5px;
    line-height: 150px;
}

.profile-table {
    flex: 1;
    /* margin: 0.2em;
    width: 25%; */
    height: 200px;
    border: 3px solid #086b5f;
}

.profile-table-subject {
    background-color: #126b5f;
    color: white;
    text-align: center;
    border: none;
    height: 50%;
}

.profile-table-content {
    text-align: center;
}

.profile-table-list {
    list-style: none;
    padding: 0;
}

.buttonHolder {
    display: flex;
}

.movieButton {
    margin: 1em;
    -ms-flex: 1 1;
    flex: 1 1;
    background-color: #126b5f;
    border: 3px solid #126b5f;
    color: white;
    border-radius: 5px;
    height: 50px;
}

.movieButton:hover,
.movieButton:focus {
    background-color: #043a33;
    cursor: pointer;
}
