.login-form {
    text-align: center;
}

.login-button {
    border-radius: 10px;
    height: 50px;
    width: 20%;
    margin-top: 10px;    
    border: 1px solid;
    color: #91875e;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.3s;
}

.login-button:hover,
.login-button:focus {
    background-color: #91875e;
    color: white;
    cursor: pointer;
}
