.navBar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    width: 100%;
    /* left: 10%; */
    /* right: 10%; */
    height: 10vh;
    border-bottom: 5px solid #927606;
    background-color: #fffffff2;
}

.navBar-title {
    font-family: 'Megrim', cursive;
    color: #927606;
    text-align: center;
    margin: auto;
}

.helix-title-link {
    font-family: 'Megrim', cursive;
    color: #927606;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
}

.helix-title-link:hover,
.helix-title-link:focus {
    color: black;
}

.navBar-button-holder {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
}

.navBar .navBar-button {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border: 3px solid #927606;
    background-color: #927606;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    /* transition: all 0.3s; */
}

.navBar-logout-button {
    border-radius: 5px;
    height: 9vh;
    width: 100px;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    border: 3px solid #927606;
    background-color: #927606;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    /* transition: all 0.3s; */
}

.navBar-link {
    height: 9vh;
    width: 100px;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.navBar-button:hover,
.navBar-button:focus,
.navBar-logout-button:hover,
.navBar-logout-button:focus {
    background-color: #685404;
    cursor: pointer;
}
