.navBar {
    position: fixed;
    display: flex;
    top: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 10vh;
    border-bottom: 1px solid #91875e;
}

.navBar-title {
    font-family: 'Megrim', cursive;
    color: #91875e;
    text-align: center;
    margin: auto;
}

.navBar .navBar-button {
    border-radius: 0;
    height: 9vh;
    border: 1px solid;
    background-color: #91875e;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
 
.navBar-button:hover {
    background-color: white;
    color: #91875e;
    cursor: pointer;
  }