.navBar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid #126b5f;
    background-color: black;
}

.navBar-title {
    font-family: 'Megrim', cursive;
    color: white;
    text-align: center;
    margin: auto;
}

.helix-title-link {
    font-family: 'Megrim', cursive;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    transition: all 0.2s;
}

.helix-title-link:hover,
.helix-title-link:focus {
    color: #126b5f;
}

.navBar-button-holder {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
}

.navBar .navBar-button {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border: 3px solid #126b5f;
    background-color: #126b5f;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    /* transition: all 0.3s; */
}

.navBar-logout-button {
    border-radius: 5px;
    height: 7vh;
    width: 100px;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    border: 3px solid #126b5f;
    background-color: #126b5f;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.navBar-link {
    height: 7vh;
    width: 100px;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.navBar-button:hover,
.navBar-button:focus,
.navBar-logout-button:hover,
.navBar-logout-button:focus {
    background-color: #043a33;
    cursor: pointer;
}


@media only screen and (max-width: 770px) {
    .navBar-title {
        margin-left: 10px;
    }

    .navBar-button-holder {
        position: static;
    }

    .navBar-logout-button {
        width: 65px;
    }

    .navBar-link {
        width: 65px;
    }

    .helix-title-link {
        font-size: 18px;
    }
}
