.save-button {
    border-radius: 5px;
    border: 3px solid #086b5f;
    background-color: #086b5f;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
}

.save-button:hover,
.save-button:focus {
    background-color: #043a33;
    cursor: pointer;
  }