.movie-search-results {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movieResultItem {
    flex: 1 1;
    margin: 1em;
    height: 200px;
    width: 150px;
}

.moviePoster {
    height: 100%;
}