.SignupForm {
    text-align: center;
}

.form-input {
    margin-bottom: 2%;
}

#username, #email, #password, #passwordConfirm {
    border: none;
    border-radius: 5px;
    width:80%;
    height: 40px;
    background-color: white;
    color: #927606;
    font-size: 25px;
    transition: all 0.3s;
}

#username:focus,
#email:focus,
#password:focus,
#passwordConfirm:focus {
    background-color: #cccccc;
    color: black;
}

.signup-button {
    border-radius: 10px;
    height: 50px;
    width: 20%;
    margin-top: 10px;
    border: 2px solid white;
    color: black;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.8);
}

.signup-button:hover,
.signup-button:focus {
    background-color: #927606;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
    /* box-shadow: none; */
    border: 2px solid white;
}